.Column{
    height: 944px;
    width: 304px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.searchRow{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    width: 240px;
    border: 1px #EAEAEA;
    border-radius: 6px;
    background-color: #FAFAFA;
}
.collectionsRowTitle{
    display: flex;
    flex-direction: row;
    height: 16px;
    width: 240px;
}
.collectionsGrid{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 17px;
    row-gap: 20px;
}
.box{
    height: 110px;
    width: 110px;
    background-color: #E3E3E3;
}