.background {
    background-color: #f3f7fd;
    padding: 100px;
    margin: auto;
}

.paragraph {
    opacity: 0.8;
    text-align: left;
    color: #808080;
    font-family: "Crushy Black";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
}

.button {
    box-sizing: border-box;
    height: 40px;
    width: 120px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    color: #2d200b;
    font-family: "Crushy Black";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

.line {
    height: 181px;
    width: 17px;
    background-color: #2f66ee;
    position: absolute;
    left: 0%;
    margin-top: 120px;
}

.Image{
    height: 444px;
    width: 444px;
    padding: 11px;
}
.content {
    height: 106px;
    width: 320px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.text1 {
    color: #131313;
    font-family: "Crushy Black";
    font-size: 24px;
    margin-left: 120px;
    margin-top: 20px;
}

.text2 {
    color: #2f66ee;
    font-family: "Crushy Black";
    font-size: 28px;
    margin-left: 120px;
}

.contentContainer {
    display: flex;
}

.emptyContainer {
    height: 61px;
    width: 61px;
    border-radius: 12px;
    background-color: #c4c4c4;
    position: absolute;
    top: 20%;
    left: 12%;
}

.rightColumn {
    color: #2d200b;
    font-family: "Crushy Black";
    padding-top: 20px;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 56px;
}

.leftColumn {
    display: flex;
    place-content: center;
    position: relative;
}

@media screen and (max-width:767px) {
    .line{
        left:-26%;
    }
}
@media screen and (max-width:992px) {
    .content{
        top:91%
    }
}