@font-face {
    font-family: "Crushy Black";   
    src: url("../src/assets/fonts/Crushy\ Black.ttf");
}
@font-face {
    font-family: "kartooni";   
    src: url("../src/assets/fonts/Kartooni.ttf");
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: none !important;
    background-clip: padding-box;
    border:none !important;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}